button{
    border:none;
    outline:none;
    padding:.75rem;
    font-size: .9rem;
    font-weight: 500;
    color:white;
    background:$primary;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;

    &:hover{
        transform: scale(1.03);
    }
}