#computers {
    min-height: calc(100vh - 81px);
    padding: 1rem 5vw;

    .pagination {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin-left: .5rem;
            color: white;
            background: $text;
            border: none;
            outline: none;
            border-radius: 5px;
            cursor: pointer;
            transition: .5s;

            &:hover {
                background: $primary;
            }
        }

        .active {
            background: $primary
        }
    }

    .wrapper {
        display: flex;
        gap: 1rem;

        .desktop-filters {
            background: white;
            width: 30%;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            overflow: hidden;

            .price {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
          
                .slider {
                  display: flex;
                  width: 70%;
                  padding-left:.5rem;
          
                  .s{
                    color:$primary !important;
                  }
                }
              }
          
              div:not(.header) {
          
                label {
          
                  span {
                    font-size: 14px;
                  }
                }
          
                h1 {
                  font-size: 20px;
                  color: #777;
                  font-weight: 600;
                }
          
                .price-inputs {
                  width: 100%;
                  display: flex;
                  justify-content: flex-start;
                  margin-top: 0px;
                  padding-left:.5rem;
          
                  input {
                    width: 80px;
                    color: #777;
                    text-align: center;
                    font-weight: 600;
                    font-size: 13px;
          
                    &:first-of-type {
                      margin-right: .3rem;
                    }
                  }
                }
              }

            .header {
                background: $primary;
                padding: 1rem;
                color: white;
            }

            .wrapper{
                display: flex;
                flex-direction: column;
                padding:2rem;

                .group{
                    padding-left:.5rem;
                }

                h1{
                    color:$text;
                    font-size: 1.25rem;
                }

            }
        }

        .products {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .css-1n7gpw1-MuiSkeleton-root{
                transform: scale(1) !important;
            }

            .css-z7erpk{
                transform: scale(1 , 1) !important;
            }

            .skeleton{
                width:100%;
                height:228px !important; 
            }

            .product {
                background: white;
                display: flex;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                padding: 1rem;
                padding-bottom:.75rem;
                gap: 1.5rem;
                border-radius: 5px;

                .left {
                    width: 25%;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 90%;
                        }
                    }
                }

                .right {
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    gap: .5rem;

                    .name {
                        color: $secondary;
                        font-weight: 600;
                        font-size: .9rem;
                    }

                    .description {
                        color: $text;
                        line-height: 1.8rem;
                        font-size: .85rem;
                        width:95%;
                    }

                    .container{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .wrapper{
                            display: flex;
                            flex-direction: column;

                            .stars {
                                display: flex;
                                align-items: center;
                                gap: .25rem;
        
                                p {
                                    font-size: .8rem;
                                    margin-top: .1rem;
                                    font-weight: 500;
                                    color: $text;
                                }
        
                                .star {
                                    color: $primary;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                }
    
                            }
                            
                            .price{
                                color:red;
                                font-weight: 600;
                                margin-top: .1rem;
                                margin-left: .25rem;
                            }
                        }

                        button{
                            background:$primary;
                            border:none;
                            outline:none;
                            color:white;
                            padding:.5rem .75rem;
                            cursor: pointer;
                            border-radius: 5px;
                            transition: .5s;

                            &:hover{
                                transform:scale(1.08);
                            }
                        }

                    }

                }


            }
        }
    }
}