#computers{
    min-height: calc(100vh - 81px);
    padding:1rem 5vw;

    .wrapper{
        display: flex;
        gap:1rem;

        .desktop-filters{
            background:white;
            width:30%;
            box-shadow: 0px 2px 8px rgba(0,0,0,0.1);

            .header{
                background:$primary;
                padding:1rem;
                color:white;
            }
        }

        .products{
            width:70%;
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            gap:1rem;
            
            .product{
                background:white;
                display: flex;
                align-items: center;
                box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
                padding:1rem;
                gap:1.25rem;

                .left{
                    width:20%;

                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        img{
                            width: 90%;
                        }
                    }
                }

                .middle{
                    width:60%;
                    display: flex;
                    flex-direction: column;
                    gap:.5rem;

                    .name{
                        color:$secondary;
                        font-weight: 600;
                        font-size: .9rem;
                    }

                    .description{
                        color: $text;
                        line-height: 1.8rem;
                        font-size: .8rem;
                    }

                    .stars{
                        display: flex;
                        align-items: center;
                        gap:.25rem;

                        p{
                            font-size: .8rem;
                            color:$text;
                        }

                        .star{
                            color:$primary;
                            width:1.5rem;
                            height:1.5rem;
                        }
                    }
                }


            }
        }
    }
}