@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary:#FCC312;
$secondary:#3490CF;
$text:#777;

:root{
    --toastify-toast-width: 400px !important;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background:#f1f1f1;
}

@import "./navbar";
@import "./home";
@import "./auth";
@import "./carousel";
@import "./computers";
@import "./dashboard";